*{margin:0;padding:0}html,body,#app,.app-container{height:100%}.app-container{padding:50px;-webkit-box-sizing:border-box;box-sizing:border-box}.app-container table{border-collapse:collapse;width:100%;border:1px solid #ccc}.app-container table th,.app-container table td{border:1px solid #ddd}

