* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  table {
    border-collapse: collapse;;
    width:100%;
    border: 1px solid #ccc;
    th,
    td {
      border: 1px solid #ddd;
    }
  }
}
